@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body.fixed {
    overflow: hidden;
}
.mo_gnb {
    width: 100%;
    height: 52px;
    position: absolute;
    top: -100%;
}
.dt_gnb {
    display: none;
}
.mo_gnb .logo {
    display: flex;
    width: 100%;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 0 21px;
}
.mo_gnb .open {
    width: 25px;
    height: 18px;
}
.mo_gnb .mo_list {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.mo_gnb .mo_list .top {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 21px;
}
.mo_gnb .mo_list .close {
    width: 26px;
    height: 26px;
}
.mo_gnb .mo_list ul {
    padding: 21px;
}
.contents .intro {
    width: 100%;
    height: 100vh;
    background-color: #000;
}
.contents .intro .video .wrapper {
    width: 60%;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    top: 35vh;
    overflow: hidden;
    background-color: yellowgreen;
}
.contents .intro .txt {
    width: 100%;
    position: absolute;
    top: 25vh;
}
.contents .intro .go_link {
    position: absolute;
    bottom: -100%;
    right: 27px;
    transition: bottom .7s;
}
.contents .intro .go_link.active {
    bottom: 33px;
}
/* contents 클래스 내 첫번째 섹션 제외한 섹션의 width,height,padding */
.contents > section:not(:first-child) {
    width: 100%;
    height: 100%;
    padding: 21px;
}
.contents > section:not(:first-child) .inner {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: red;
}
/* section introduction */
.contents .introduction {
    background-color: blueviolet;
    /* height: 900px !important; */
}
.contents .introduction .txt {
    grid-column: span 12;
    background-color: #789978;
    height: 52px;
    position: relative;
    overflow: hidden;
}
.contents .introduction .txt2 {
    height: 52px;
    margin-top: 150px;
}
.contents .introduction .txt .mo_txt {
    width: 100%;
    position: absolute;
    background-color: turquoise;
    top: 120%;
    opacity: 0;
    transform: translateY(-50%);
    transition: all cubic-bezier(0.7, 0, 0.15, 1) 1s;
}
.contents .introduction .txt .mo_txt.active {
    top: 50%;
    opacity: 1;
}
.contents .introduction .vdo {
    grid-column: span 12;
    background-color: aqua;
    overflow: hidden;
}
.contents .introduction .vdo video {
    width: 100%;
    object-fit: contain;
}
.contents .introduction .txt2 .dt_txt {
    display: none;
}
/* .contents .introduction {
    padding-bottom: 210px !important;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.introduction .txt {
    position: relative;
    z-index: 2;
}
.introduction .txt1 {
    width: 100%;
}
.introduction .txt2 {
    width: 100%;
    margin: 150px 0 12px 0;
    overflow: hidden;
    background-color: blueviolet;
}
.introduction .txt2 > p:first-child {
    position: absolute;
    height: 52px;
    width: 100%;
    top: 52px;
    transition: top .7s ease-in-out;
    transition-delay: .5s;
}
.introduction .txt2 > p.active {
    top: 0;
}
.introduction .txt3 {
    width: 100%;
    margin-top: 21px;
    overflow: hidden;
}
.contents .introduction .vdo {
    width: 100%;
    overflow: hidden;
}
.contents .introduction .vdo video {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */
.contents .introduction .dt_txt {
    display: none;
}
@media (min-width: 768px) {
    .contents .intro .video .wrapper {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .mo_gnb {
        display: none;
    }
    .dt_gnb {
        width: 100%;
        height: 52px;
        position: absolute;
        top: 0;
        z-index: 9;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 21px;
    }
    .dt_gnb nav ul {
        display: flex;
        width: 100%;
    }
    .dt_gnb nav ul li {
        margin-left: 30px;
    }
    .contents .intro .video .wrapper {
        width: 45%;
        top: 65vh;
    }
    .contents .introduction .txt3 {
        order: 2;
    }
    .contents .introduction .txt2 {
        order: 4;
        grid-column: span 4;
        margin: 0;
        height: 100%;
    }
    .contents .introduction .vdo {
        order: 3;
        grid-column: span 8;
    }
    .contents .introduction .txt2 .mo_txt {
        display: none;
    }
    .contents .introduction .txt2 .dt_txt {
        display: block;
        position: relative;
        background-color: antiquewhite;
        width: 100%;
        height: 100%;
    }
    .contents .introduction .txt2 .dt_txt span {
        position: absolute;
        background-color: rebeccapurple;
        width: 100%;
        display: inline-block;
        text-align: left;
        /* height: 3em; */
    }
    .contents .introduction .txt2 .dt_txt span:first-child {
        left: 50%;
        transform: translateX(-50%);
        /* height: 120px; */
        bottom: 100px;
        background-color: aquamarine !important;
    }
    .contents .introduction .txt2 .dt_txt span:last-child {
        height: 100px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}


